*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 120px 120px ;
    color: white;
    background-image: url(../img/background.png);
    background-size: cover;
    overflow: auto;
    border-top: 6px solid #2ecc71;
        
    
}

header>div{
    margin: 100px 0;
    margin-bottom: 20px;

}

h1{
    font-size: 2.265rem;
    font-family: 'Pacifico', cursive;
    margin: 0;
    
}

p{
    font-size: 1.100rem;
    min-width: 300px;
    width: 400px;
}

#diferentao{
    color: #2ecc71;
    
}

.botoes1{
    display: flex;
    margin-top: 0;
}

.botoes1>.box{
    display: inline-flex;
    border: rgba(0,0, 0, 0.3) 15px solid;
    background-color:  rgba(0,0, 0, 0.3);
    border-radius: 500px;
    margin-right: 0.70em;
       
}

#box1{
    background-image: url(../img/icone-ios.png);
    background-color: rgba(0,0, 0, 0.5);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 18px;
    border-radius: 500px;
}

#box2{
    background-image: url(../img/icone-android.png);
    background-color: rgba(0,0, 0, 0.5);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 18px;
    border-radius: 500px;
}

#box3{
    background-image: url(../img/icone-windows.png);
    background-color: rgba(0,0, 0, 0.5);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width:60px;
    height:60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-right: 18px;
    border-radius: 500px;
}

#box1:hover{
    background-color: #2ecc71;
    border-color: #2ecc71;
    cursor: pointer;
    
}
 
#box2:hover{
     background-color: #2ecc71;
     border-color: #2ecc71; 
     cursor: pointer;
}
 
#box3:hover{
     background-color: #2ecc71;
     border-color: #2ecc71; 
     cursor: pointer;
}

.botoes2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    
}

.botoes2>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 35vh;
}

#block1{
    width: 80px;
    height: 80px;
    background: #2ecc71;
    border-radius: 50px;
    background-image: url(../img/icone1.png);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#block2{
    width: 80px;
    height: 80px;
    background: #2ecc71;
    border-radius: 50px;
    background-image: url(../img/icone2.png);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#block3{
    width: 80px;
    height: 80px;
    background: #2ecc71;
    border-radius: 50px;
    background-image: url(../img/icone3.png);
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}



.dif{
    margin-left: 12.3em;
}

.dif>h1:hover{
    color: #2ecc71;

}

.parte3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #CBCAD0;
    background-size: 100vw;
    margin: 40px 0 0 0;
    
    
    
    
}

.parte3 h1{
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    text-align: center;
    
}

.parte3>p{
    

}

.ajustinho>h1,p{
    display: flex;
    margin-top: 2vw;
    margin-left: 6vh;
    text-align: center;
}
#botaozinho{
    width: 400px;
    display: inline-flex;
    padding: 10px;
    margin: 2vw 0 10vw 6vh;
    border: none;
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
}


#botaozinho2{
    width: 70px;
    height: 50px;
    margin: 2vw 0 10vw 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #2ecc71;
    color: white;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    
}

#botaozinho2:hover{
    color: black;
}

#botaozinho:hover{
    border: #2ecc71 1px solid;
}

.ajustinho {
    display: flex;
    flex-direction: column;
}

.part4{
    display: flex;
    
}

.video{
    display: flex;
    margin-top: 40px;
       
    
}



  @media(max-width:992px){
    header{
        padding: 0 100px;
    }

    header>div{
        margin: 0 100px;
    }


}

.carrosel{
    height: 600px;

}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:green;
}

.carousel .item {
    position: absolute;
    width: 100%;
    height: 100%;
}


.carousel>.item>img{
    
}



.carousel .slide-in {
   
}

.carousel .slide-in:target ~ .slide-in {
   
}

.carousel .slide-in:target {
   
}

.carousel .slide-in:target + .slide-in {
   
}

.carousel .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.carousel .controls .btn {
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin: 0px 1px 15px;
    opacity: 0.7;
}

.carousel .controls .btn:hover {
    opacity: 0.9;
}